{{#operations}}

#include "{{classname}}.h"

BEGIN_SDK_NS

namespace api {

{{classname}}::{{classname}}()
{
}

{{classname}}::~{{classname}}()
{
}

{{#operation}}
{{#returnType}}{{{returnType}}}{{/returnType}}{{^returnType}}void{{/returnType}} {{classname}}::{{operationId}}({{#allParams}}{{{dataType}}} {{paramName}}{{^required}}{{/required}}{{#hasMore}}, {{/hasMore}}{{/allParams}})
{
    auto task = {{operationId}}Async({{#allParams}}{{paramName}}{{^required}}{{/required}}{{#hasMore}}, {{/hasMore}}{{/allParams}});
    {{#returnType}}
    return task.get();
    {{/returnType}}{{^returnType}}
    task.wait();
    {{/returnType}}
}
{{/operation}}

{{#operation}}
pplx::task<{{#returnType}}{{{returnType}}}{{/returnType}}{{^returnType}}void{{/returnType}}> {{classname}}::{{operationId}}Async({{#allParams}}{{{dataType}}} {{paramName}}{{^required}}{{/required}}{{#hasMore}}, {{/hasMore}}{{/allParams}})
{
    return pplx::task<{{#returnType}}{{{returnType}}}{{/returnType}}{{^returnType}}void{{/returnType}}> ();
}
{{/operation}}


}

END_SDK_NS

{{/operations}}
