{{#operations}}/*
 * {{classname}}.h
 * 
 * {{description}}
 */
 
#ifndef {{classname}}_H_
#define {{classname}}_H_

#include "Commons.h"
#include "ApiBase.h"

{{#imports}}{{{import}}}
{{/imports}}

BEGIN_SDK_NS

namespace api {

USE_SDK_NS(model)

class SDK_DECLSPEC {{classname}}
	: public ApiBase
{
public:
    {{classname}}();
    virtual ~{{classname}}();
    {{#operation}}
    /// <summary>
    /// {{summary}}
    /// </summary>
    /// <remarks>
    /// {{notes}}
    /// </remarks>
    {{#allParams}}/// <param name="{{paramName}}">{{description}}{{^required}} (optional{{#defaultValue}}, default to {{.}}{{/defaultValue}}){{/required}}</param>{{/allParams}}
    {{#returnType}}{{{returnType}}}{{/returnType}}{{^returnType}}void{{/returnType}} {{operationId}}({{#allParams}}{{{dataType}}} {{paramName}}{{^required}}{{/required}}{{#hasMore}}, {{/hasMore}}{{/allParams}});
    {{/operation}}

    {{#operation}}
    /// <summary>
    /// {{summary}}
    /// </summary>
    /// <remarks>
    /// {{notes}}
    /// </remarks>
    {{#allParams}}/// <param name="{{paramName}}">{{description}}{{^required}} (optional{{#defaultValue}}, default to {{.}}{{/defaultValue}}){{/required}}</param>{{/allParams}}
    pplx::task<{{#returnType}}{{{returnType}}}{{/returnType}}{{^returnType}}void{{/returnType}}> {{operationId}}Async({{#allParams}}{{{dataType}}} {{paramName}}{{^required}}{{/required}}{{#hasMore}}, {{/hasMore}}{{/allParams}});
    {{/operation}}
};
    
}

END_SDK_NS

#endif /* {{classname}}_H_ */

{{/operations}}
