{{#models}}{{#model}}

#include "{{classname}}.h"

BEGIN_SDK_NS

namespace model {

{{classname}}::{{classname}}()
{
}

{{classname}}::~{{classname}}()
{
}

void {{classname}}::validate() 
{
}

web::json::value {{classname}}::toJson() const
{
    web::json::value val;
     
	{{#vars}}{{#isPrimitiveType}}{{^required}}if(m_{{name}}IsSet)
    {
        val[U("{{baseName}}")] = ModelBase::toJson(m_{{name}});
    }
    {{/required}}{{#required}}val[U("{{baseName}}")] = ModelBase::toJson(m_{{name}});
    {{/required}}{{/isPrimitiveType}}{{^isPrimitiveType}}{{#isListContainer}}{
        std::vector<web::json::value> jsonArray;
        for( auto& item : m_{{name}} )
        {
            {{#items.isPrimitiveType}}jsonArray.push_back(ModelBase::toJson(item));
            {{/items.isPrimitiveType}}{{^items.isPrimitiveType}}{{#items.isString}}jsonArray.push_back(ModelBase::toJson(item));
            {{/items.isString}}{{^items.isString}}{{#items.isDateTime}}jsonArray.push_back(ModelBase::toJson(item));
            {{/items.isDateTime}}{{^items.isDateTime}}jsonArray.push_back( item.get() ? item->toJson() : web::json::value::null() );
            {{/items.isDateTime}}{{/items.isString}}{{/items.isPrimitiveType}}
        }
        {{#required}}val[U("{{baseName}}")] = web::json::value::array(jsonArray);
        {{/required}}{{^required}}
        if(jsonArray.size() > 0) 
        {
            val[U("{{baseName}}")] = web::json::value::array(jsonArray);
        }
        {{/required}}
    }
    {{/isListContainer}}{{^isListContainer}}{{^required}}if(m_{{name}}IsSet)
    {
        {{#isString}}val[U("{{baseName}}")] = ModelBase::toJson(m_{{name}});
        {{/isString}}{{^isString}}{{#isDateTime}}val[U("{{baseName}}")] = ModelBase::toJson(m_{{name}});
        {{/isDateTime}}{{^isDateTime}}val[U("{{baseName}}")] = m_{{name}}->toJson();
        {{/isDateTime}}{{/isString}}        
    }
    {{/required}}{{#required}}{{#isString}}val[U("{{baseName}}")] = ModelBase::toJson(m_{{name}});
    {{/isString}}{{^isString}}
    val[U("{{baseName}}")] = m_{{name}}->toJson();
    {{/isString}}{{/required}}{{/isListContainer}}{{/isPrimitiveType}}{{/vars}}

    return val;
}

void {{classname}}::fromJson(web::json::value& val)
{
    {{#vars}}{{#isPrimitiveType}}{{^required}}if(val.has_field(U("{{baseName}}")))
    {
        {{setter}}(ModelBase::{{baseType}}FromJson(val[U("{{baseName}}")]));
    }
    {{/required}}{{#required}}{{setter}}(ModelBase::{{baseType}}FromJson(val[U("{{baseName}}")]));
    {{/required}}{{/isPrimitiveType}}{{^isPrimitiveType}}{{#isListContainer}}{
        m_{{name}}.clear();
        std::vector<web::json::value> jsonArray;
        {{^required}}if(val.has_field(U("{{baseName}}")))
        {
        {{/required}}
        for( auto& item : val[U("{{baseName}}")].as_array() )
        {
            {{#items.isPrimitiveType}}m_{{name}}.push_back(ModelBase::{{baseType}}FromJson(item));
            {{/items.isPrimitiveType}}{{^items.isPrimitiveType}}{{#items.isString}}m_{{name}}.push_back(ModelBase::stringFromJson(item));
            {{/items.isString}}{{^items.isString}}{{#items.isDateTime}}m_{{name}}.push_back(ModelBase::dateFromJson(item));
            {{/items.isDateTime}}{{^items.isDateTime}}
            if(item.is_null()) 
            {
                m_{{name}}.push_back( {{{items.datatype}}}(nullptr) );
            }
            else
            {
                {{{items.datatype}}} newItem({{{items.defaultValue}}});
                newItem->fromJson(item);
                m_{{name}}.push_back( newItem );
            }
            {{/items.isDateTime}}{{/items.isString}}{{/items.isPrimitiveType}}
        }
        {{^required}} 
        }
        {{/required}}
    }
    {{/isListContainer}}{{^isListContainer}}{{^required}}if(val.has_field(U("{{baseName}}")))
    {
        {{#isString}}{{setter}}(ModelBase::stringFromJson(val[U("{{baseName}}")]));
        {{/isString}}{{^isString}}{{#isDateTime}}{{setter}}(ModelBase::dateFromJson(val[U("{{baseName}}")]));
        {{/isDateTime}}{{^isDateTime}}if(!val[U("{{baseName}}")].is_null()) 
        {
            {{{datatype}}} newItem({{{defaultValue}}});
            newItem->fromJson(val[U("{{baseName}}")]);
            {{setter}}( newItem );
        }
        {{/isDateTime}}{{/isString}}        
    }
    {{/required}}{{#required}}{{#isString}}{{setter}}(ModelBase::stringFromJson(val[U("{{baseName}}")]));
    {{/isString}}{{^isString}}
    {{{datatype}}} new{{name}}({{{defaultValue}}});
    newItem->fromJson(val[U("{{baseName}}")]);
    {{setter}}( newItem );
    {{/isString}}{{/required}}{{/isListContainer}}{{/isPrimitiveType}}{{/vars}}
}

void {{classname}}::toMultipart(std::shared_ptr<MultipartFormData> multipart, const std::string& namePrefix) const
{
}

void {{classname}}::fromMultiPart(web::json::value& val, const std::string& namePrefix)
{
}
    
   
{{#vars}}{{^isNotContainer}}{{{datatype}}}& {{classname}}::{{getter}}()
{
	return m_{{name}};
}
{{/isNotContainer}}{{#isNotContainer}}{{{datatype}}} {{classname}}::{{getter}}() const
{
	return m_{{name}};
}
void {{classname}}::{{setter}}({{{datatype}}} value)
{
	m_{{name}} = value;
}
{{/isNotContainer}} 
{{^required}}bool {{classname}}::{{name}}IsSet() 
{
    return m_{{name}}IsSet;
}
void {{classname}}::unset{{name}}() 
{
    m_{{name}}IsSet = false;
}
{{/required}}
{{/vars}}

}

END_SDK_NS

{{/model}}
{{/models}}