{{#models}}{{#model}}/*
 * {{classname}}.h
 * 
 * {{description}}
 */

#ifndef {{classname}}_H_
#define {{classname}}_H_

{{{defaultInclude}}}
#include "ModelBase.h"

{{#imports}}{{{this}}}
{{/imports}}

{{#modelNamespaceDeclarations}}
namespace {{this}} {
{{/modelNamespaceDeclarations}}

/// <summary>
/// {{description}}
/// </summary>
class {{declspec}} {{classname}}
	: public ModelBase
{
public:
    {{classname}}();
    virtual ~{{classname}}();

	/////////////////////////////////////////////
	/// ModelBase overrides
	
    virtual void validate() override;

    virtual web::json::value toJson() const override;
    virtual void fromJson(web::json::value& json) override;

    virtual void toMultipart(std::shared_ptr<MultipartFormData> multipart, const utility::string_t& namePrefix) const override;
    virtual void fromMultiPart(std::shared_ptr<MultipartFormData> multipart, const utility::string_t& namePrefix) override;
    
 	/////////////////////////////////////////////
	/// {{classname}} members
	   
    {{#vars}}
    /// <summary>
    /// {{description}}
    /// </summary>
    {{^isNotContainer}}{{{datatype}}}& {{getter}}();
    {{/isNotContainer}}{{#isNotContainer}}{{{datatype}}} {{getter}}() const;
    void {{setter}}({{{datatype}}} value);
    {{/isNotContainer}}{{^required}}bool {{name}}IsSet();
    void unset{{name}}();
    {{/required}}
    {{/vars}}
    
protected:
    {{#vars}}{{{datatype}}} m_{{name}};
    {{^required}}bool m_{{name}}IsSet;
    {{/required}}
    {{/vars}}
};

{{#modelNamespaceDeclarations}}
}
{{/modelNamespaceDeclarations}}

#endif /* {{classname}}_H_ */
{{/model}}
{{/models}}